# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
# .vscode/* これは workbench.colorCustomizations のために git 管理しよう。
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# TypeScript build info files
# tsconfig.app.tsbuildinfo とか tsconfig.node.tsbuildinfo はビルドキャッシュだから、バージョン管理外にする。
*.tsbuildinfo
